@keyframes gradientAnimation {
    0% { background-position: 25% 0%; }
    50% { background-position: 76% 100%; }
    100% { background-position: 25% 0%; }
  }
  
  .animate-gradient-animation {
    animation: gradientAnimation 52s ease infinite;
  }
  